/* style.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  background-image: url('BG_Affiche.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  overflow: hidden; /* Ajout de cette propriété pour empêcher le défilement */
  overflow-x: hidden; /* Ajout de cette propriété pour empêcher le défilement */
  overflow-y: hidden; /* Ajout de cette propriété pour empêcher le défilement */
  margin: 0;
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  text-align: center;
}

header img {
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #666;
  border-radius: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00;
}

main {
  max-width: 800px;
  margin: 300px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.info-box {
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  position: fixed;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  text-align: center;
  transition: bottom 0.3s ease-in-out;
}

.info-box.show {
  bottom: 10px;
}

.info-box a {
  color: #fff;
  text-decoration: underline;
}

.info-box a:hover {
  color: #0056b3;
}

.toggle-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.toggle-btn:hover {
  background-color: #555;
}
